<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!-- fragments/header.html -->
	<div th:fragment="header(name, email, pageTitle)">
		<!-- Top Navbar -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		    <div class="container-fluid">
		        <!-- Sidebar toggle button -->
		        <button class="btn btn-outline-secondary me-2 d-lg-none" id="sidebarToggle">
		            <i class="bi bi-list"></i>
		        </button>
		        <h1 th:text="${pageTitle}"></h1>
		        <div class="profile-menu dropdown ms-auto">
		            <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
	                        <i class="bi bi-person-circle fs-4 me-2"></i>
		            </a>
		            <div class="profileDropDown dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
		            	<p><strong><span th:text="${name}"></span></strong></p>
		                <p><i><span th:text="${email}"></span></i></p>
		            </div>
		            <!-- <ul >
		                <li><a class="dropdown-item" href="#"><i class="bi bi-person"></i> Profile</a></li>
		                <li><a class="dropdown-item" href="#"><i class="bi bi-gear"></i> Settings</a></li>
		                <li><hr class="dropdown-divider"></li>
		                <li><a class="dropdown-item" href="/logout"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
		            </ul> -->
		        </div>
		    </div>
		</nav>
	</div>
</html>